[data-icon] {
    height: 1.5rem;
    width: 1.5rem;
    margin-right: 1rem;
    align-items: start;
}

.center {
    display: flex; /* Utilizamos flexbox */
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    margin: 50px auto;
    
}

.info{
    width: 30%;
}

.title {
   text-align: center;
   font-family: "Inter", sans-serif;
   background: -webkit-linear-gradient(45deg, #0057f9, #00ff95 80%);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   font-size: 3rem;
   word-wrap: inherit;
   
}

.type {
    font-family: "Inter", sans-serif;
    margin-top: 0px;
    color: #e5e0d8;
    font-size: 1.4rem;
    text-transform: uppercase;
}

h3 {
    font-family: "Inter", sans-serif;
    background: -webkit-linear-gradient(45deg, #0057f9, #00ff95 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3rem;
    margin-top: 0px;
    margin-bottom: 15px;
    text-align: start;
}

.description {
    text-align: justify;
    font-family: "Inter", sans-serif;
    color: #e5e0d8;
    font-size: 1.3rem;
    width: auto;
    overflow-wrap: break-word;
}

.d-b {
    display: flex;
    background-color: #282a2a;
    text-align: center;
    justify-content: space-around;
    margin-right: 50px;
    border-radius: 0.5rem;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
    margin-bottom: 1.8rem;
    width: 100%;
}

.d-b > p {
    font-family: 'Inter', sans-serif;
    color: #e5e0d8;
}

.d-b > p:hover{
    opacity: 0.4;
    transition: 0.2s;
}

.flex-btn {
    display: flex;
}

.border-img {
    border-radius: 10px;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
    margin-left: 50px;
}

.btn {
    display: block;
    padding: 1rem;
    border-radius: 0.5rem;
    font-family: "Inter", sans-serif;
    font-size: 1.3rem;
    font-weight: bold;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
    background-size: 200% auto;
    width: 100%;
    text-decoration: none;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}

.enlace {
    display: flex;
    align-items: center;
    text-decoration: none;
    justify-content: center;
}

/* Boton */
.btn:hover {
    background-position: right center; /* change the direction of the change here */
}
.btn-ver {
    background-image: linear-gradient(
        to right,
        #0057f9 0%,
        #8fd3f4 51%,
        #0057f9 100%
    );
    margin-right: 30px;
}
.btn-gh {
    background-image: linear-gradient(
        to right,
        #000000 0%,
        #3c3c3c 51%,
        #000000 100%
    );
}

@media (max-width: 1200px) {
    .center {
    flex-direction: column;
    align-items: center;
}

.info{
    width: auto;
}

.border-img {
    margin-left: 0; /* Eliminamos el margen izquierdo en pantallas pequeñas */
    margin-top: 20px; /* Agregamos un margen superior para separar la imagen del texto */
    width: auto;
    height: 200px;
}

.img-ctn{
   
    padding: 0 20px;
}

.title {
    font-size: 2rem; /* Reducimos el tamaño del título en pantallas pequeñas */
}
#miParrafo br {
    display: none; /* Ocultar el elemento <br> en pantallas pequeñas */
}

.type{
    text-align: center;
}

h3 {
    text-align: center;
}
}

@media (max-width: 768px) {
    .center {
    flex-direction: column;
    align-items: center;
}

.border-img {
   /* Eliminamos el margen izquierdo en pantallas pequeñas */
    margin-top: 20px; /* Agregamos un margen superior para separar la imagen del texto */
    width: 100%;
    height: 200px;
}

.img-ctn{
   
    padding: 0 20px;
}

.title {
    font-size: 2rem; /* Reducimos el tamaño del título en pantallas pequeñas */
}

#miParrafo br {
    display: none; /* Ocultar el elemento <br> en pantallas pequeñas */
}

.d-b{
    width: 100%;
}

.description{
    text-align: justify;
}

}

