---
import { Image } from "astro:assets";
import localImg from "../img/img_footer.png";
import ExperienciaComponent from "./vue/ExperienciaComponent.vue";
import { data } from "../helpers/experience";
import CardExperiencia from "./experiencia/CardExperiencia.astro";


const logoColl = ['portafolio-astro/src/img/img_footer.png', 'portafolio-astro/src/img/img_footer.png']

---

<section id="experiencia">
  <div class="center elemento">
    <h2>Experiencia</h2>
  </div>
  <swiper-container pagination="true">
    {
      data?.map((item) => (
        <swiper-slide>
       <CardExperiencia item={item} />
        </swiper-slide>
      ))
    }
     </swiper-container>
</section>

  <style>
    .center {
      display: flex; /* Utilizamos flexbox */
      flex-direction: column; /* Dirección de los items en columna */
      justify-content: center; /* Centrado vertical */
      align-items: center;
      padding: 0 20px;
    }

    h2 {
      text-align: left;
      font-family: "Inter", sans-serif;
      background: -webkit-linear-gradient(45deg, #0057f9, #00ff95 80%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 4rem;
      margin-top: 100px;
      word-wrap: inherit;
    }

    section {
      background-color: #282a2a;
      width: 100%;
    }
    
  </style>

