---
import { Icon } from "astro-icon/components";
import Image from "astro/components/Image.astro";
import gh from "../icon/githubFooter.svg";
import arr from "../icon/arrow.svg";


---

<footer>
    <div class="container">
        <a href={import.meta.env.LINKEDLN}><Icon name="linkedin" title="github" /></a>
        <a href={import.meta.env.GITHUB}><Icon name="githubFooter" title="ver" /></a>
    </div>
    <span>Copyringht © - 2024</span>
    <span class="name">Carlos Eduardo Cruz Reyes</span>
</footer>

<style>

    /* Iocon */
    [data-icon]{
        height: 3rem;
        width: 3rem;
    }

    footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2rem;
    }

    .sp-icon{
        margin-left: 1rem;
    }

    .container{
        margin: 0 auto;
        
    }

    .bg{
        background-color: #242525;
    }

    
    span{
        font-family: 'Inter', sans-serif;
        color: #797878;
        font-weight: 700;
        margin-top: 1rem;
    }

    .name{
        margin-top: .8rem;
    }

    @media (max-width: 1200px) {
        
    }

    @media (max-width: 768px) {
       span{
        text-align: center;
       }
    }
</style>