---
import { Icon } from 'astro-icon/components'

---

<section id="habilidades" >
    
    <div class="container elemento">
        <h2>Habilidades</h2>
        <p class="description">Competencias en diseño y desarrollo web, con experiencia en la creación de sitios interactivos y funcionales.</p>
        <div class="grid">
                <div class="item">
                    <Icon name="html" />
                    <div class="ctn">
                        <p class="title">HTML</p>
                        <p class="subtext">lenguaje de etiquetas de hipertexto</p>
                    </div>
                </div >
                <div class="item">
                    <Icon name="css" />
                    <div>
                        <p class="title">CSS</p>
                        <p class="subtext">Hojas de estilo en cascada</p>
                    </div>
                </div >
                <div class="item">
                    <Icon name="js" />
                    <div>
                        <p class="title">JavaScript</p>
                        <p class="subtext">lenguaje de programación compilado</p>
                    </div>
                </div >
                <div class="item">
                    <Icon name="react" />
                    <div>
                        <p class="title">React + Vite</p>
                        <p class="subtext">Biblioteca para interfaces de usuario web</p>
                    </div>
                </div >
                <div class="item">
                    <Icon name="astro" />
                    <div>
                        <p class="title">Astro</p>
                        <p class="subtext">Creador de sitios web estáticos y dinámicos</p>
                    </div>
                </div >
                <div class="item">
                    <Icon name="next" />
                    <div class="ctn">
                        <p class="title">Next.js</p>
                        <p class="subtext">Framework React para aplicaciones web</p>
                    </div>
                </div >
                <div class="item">
                    <Icon name="strapi" />
                    <div>
                        <p class="title">Strapi</p>
                        <p class="subtext">CMS de código abierto para API y contenido</p>
                    </div>
                </div >
                <div class="item">
                    <Icon name="sql" />
                    <div>
                        <p class="title">PostgreSQL</p>
                        <p class="subtext">Base de datos relacional</p>
                    </div>
                </div >
                <div class="item">
                    <Icon name="bootstrap" />
                    <div>
                        <p class="title">Bootstrap</p>
                        <p class="subtext">Framework para diseño web responsivo</p>
                    </div>
                </div >
                <div class="item">
                    <Icon name="tailwind" />
                    <div class="ctn">
                        <p class="title">Tailwind</p>
                        <p class="subtext">Framework CSS utilitario para interfaces web</p>
                    </div>
                </div >
                <div class="item">
                    <Icon name="py" />
                    <div>
                        <p class="title">Python</p>
                        <p class="subtext">Lenguaje de programación versátil</p>
                    </div>
                </div >
                <div class="item">
                    <Icon name="github" />
                    <div>
                        <p class="title">GitHub</p>
                        <p class="subtext">plataforma para alojar y revisar código</p>
                    </div>
                </div >
               
        </div>
    </div>
</section>



<style>
    [data-icon]{
        height: 3rem;
        width: 3rem;
        margin: 30px;
    }

    .ctn{
        margin-right: 20px;
    }

    .subtext{
    font-size: 0.9rem; /* Ajusta el tamaño del subtexto */
    color: #888; /* Color del subtexto */
    margin-left: 10px; 
    margin-top: 5px;
    }

    .title{
        font-weight: 600;
        margin-left: 10px;
        margin-bottom: 10px;
        width: 100%;
        display: block;
    }

    .item{
        display: flex;
        background-color: #242525;
        border: 1px solid #444646;
        border-radius: 10px;
    }

    .description{
        margin-top: 10px;
        margin-bottom: 20px;
        text-align: justify;
    }
    section{
        background-color: #282A2A;
    }

    h2{
        font-family: 'Inter', sans-serif;
        text-align: left;
        background: -webkit-linear-gradient(45deg, #2283b0, #00ff95 80%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 4rem;
    }

    .container{
        display: flex; /* Utilizamos flexbox */
        flex-direction: column; /* Dirección de los items en columna */
        justify-content: center; /* Centrado vertical */
        align-items: center;
        
        
       
    }

    .grid{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px 20px;
        margin-top: 3rem;
        margin-bottom: 5rem;
    }
    p{
        font-family: 'Inter', sans-serif;
        font-size: 1.3rem;
        color: #E5E0D8;
        
        
    }

    @media (max-width: 1200px) {
        .grid {
        grid-template-columns: repeat(2, 1fr); /* Cambiar a dos columnas en pantallas más pequeñas */
    }
    }

    @media (max-width: 768px) {
        .grid {
        grid-template-columns: repeat(1, 1fr); /* Cambiar a una sola columna en pantallas aún más pequeñas */
    }
    }

</style>