---
import Layout from "../layout/Layout.astro";
---

<header class="header">
    <div class="container">
        
            <ul>
                <li>
                    <a href="#about">Inicio</a>
                    <a href="#experiencia">Experiencia</a>
                    <a href="#proyectos">Proyectos</a>
                    <a href="#habilidades">Habilidades</a>
                </li>
            </ul>
        
    </div>
</header>



<style>
    .header {
        background-color: rgba(36, 37, 37, 0.7) !important;
        background: transparent;
        border-bottom: 1px solid #444646;
        backdrop-filter: blur(10px);
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        z-index: 100;
        
    }

    .container {
        max-width: 900px;
        display: flex;
        margin: 0 auto;
        
        
    }

    .name {
        font-family: "Inter", sans-serif;
        color: #e5e0d8;
        font-weight: bold;
        font-size: 1.2rem;
        
        
    }

    p {
        color: #5baae8;
        font-family: "Inter", sans-serif;
        font-size: 1rem;
    }

    ul {
        list-style: none;
        display: flex;
        padding: 0;
    }

    a {
        text-decoration: none;
        color: #e5e0d8;
        font-family: "Inter", sans-serif;
        margin: 0 10px;
        font-size: 0.9rem; /* Tamaño del texto ajustado para dispositivos móviles */
        margin: 0 5px; /* Reducción del margen para dispositivos móviles */
    }
    
    a:hover {
        opacity: 0.4;
        transition: 0.2s;
    }

    .contact {
        font-weight: 500;
        font-size: 1rem;
        color: #5baae8;
    }

    nav {
        flex: 1; /* El menú ocupará todo el espacio disponible */
        text-align: center; /* Alineación centrada para dispositivos móviles */
    }

    .space {
        margin-left: 10px; /* Reducción del margen para dispositivos móviles */
    }

    @media screen and (max-width: 768px) {
        .container {
            flex-direction: column;
            align-items: center;
            padding: 5px; /* Reducción del relleno para dispositivos móviles */
        }

        .name {
            font-size: 1rem; /* Tamaño del texto ajustado para dispositivos móviles */
            text-align: center;
        }

        p {
            font-size: 0.8rem; /* Tamaño del texto ajustado para dispositivos móviles */
        }

        ul {
            flex-direction: column; /* Elementos apilados verticalmente en dispositivos móviles */
        }

        .space {
            margin-left: 0; /* Eliminación del margen para dispositivos móviles */
            margin-top: 5px; /* Añadir margen superior para dispositivos móviles */
        }
    }
</style>
