---
import { Image } from "astro:assets";
import ImgPrj1 from '../img/imgProjects/pg1.png'
import { Icon } from 'astro-icon/components'
---

<section id="proyectos">
    <div class="center elemento">
        <h2>Proyectos</h2>
        
        <div class="grid">
        <div>
            <p class="type">Frontend</p>
            <h3>Dream Guitar</h3>
            <p class="description">Proyecto de tienda de guitarra. Visualiza como se podria ver una tienda de guitarra con secciones como un blog, catalogo y más.</p>
            <div class="d-b">
                <p class="tecno">Astro</p>
                <p class="tecno">Strapi</p>
                <p class="tecno">CSS</p>
                <p class="tecno">PostgreSQL</p>
            </div>
            <div class="flex-btn">
                <a href="/" class="btn btn-ver enlace">
                    <Icon name="arrow"  />
                    <span>Ver</span>
                </a>
                <a href="/" class="btn btn-gh enlace"> 
                    <Icon name="githubFooter"  />
                    <span>GitHub</span>
                </a>
            </div>
        </div>
        <div>
            <Image class="border-img" src={ImgPrj1} alt="Proyect1" width="700" height="360"loading="eager"/>
            
        </div>
    </div>
    <script>
        window.addEventListener('scroll', () => {
        const elementos = document.querySelectorAll('.elemento');
        
        elementos.forEach(elemento => {
          if (isElementInViewport(elemento)) {
            elemento.classList.add('mostrar');
          }
        });
      });
    
      function isElementInViewport(el) {
        const rect = el.getBoundingClientRect();
        const windowHeight = (window.innerHeight || document.documentElement.clientHeight);
        return (
        rect.top <= windowHeight && rect.bottom >= 0
        );
      }
    </script>
</section>

<style>
     [data-icon]{
        height: 1.5rem;
        width: 1.5rem;
        margin-right: 1rem;
        align-items: start  ;
    }
    
    .tecno:hover{
        opacity: 0.4;
        transition: 0.2s;
    }


    .d-b{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        background-color: #282A2A;
        text-align: center;
        margin-right: 50px;
        border-radius: .5rem;
        box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
        margin-bottom: 1.8rem;
    }

    

    .border-img{
        border-radius: 10px;
        box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
    }
    .grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    section {
        background-color: #242525;
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .center {
        margin: 150px auto;
        text-align: left;
        width: 1260px;
    }

    h2 {
        text-align: left;
        font-family: "Inter", sans-serif;
        background: -webkit-linear-gradient(45deg, #0057F9, #00ff95 80%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 4rem;
        margin-top: 0px;
        word-wrap: inherit;
    }

    h3{
        font-family: "Inter", sans-serif; 
        background: -webkit-linear-gradient(45deg, #0057F9, #00ff95 80%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 3rem;
        margin-top: 0px;
        margin-bottom: 15px;
        text-align: start;
    }
    p{
        font-family: "Inter", sans-serif; 
        color: #e5e0d8; 
    }

    .type{
        font-family: "Inter", sans-serif; 
        margin-top: 0px;
        color: #e5e0d8;
        font-size: 1.4rem;
        text-transform: uppercase;
    }

    .description{
        color: #e5e0d8;
        font-size: 1.3rem;
        text-align: justify;
        margin-right: 50px;

    }

    .flex-btn{
        display: flex;
    
    }

    a{
        align-items: center;
        justify-content: start;
    }

    .btn{
        display: block;
        padding: 1rem;
        border-radius: .5rem;
        font-family: 'Inter', sans-serif;
        font-size: 1.3rem;
        font-weight: bold;
        transition: 0.5s;
        background-size: 200% auto;
        color: white;
        /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
        background-size: 200% auto;
        width: 38%;  
        margin-right: 1rem;
        text-decoration: none;   
        box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);  
    }

    .enlace{
        display: flex;
        align-items: center;
        text-decoration: none;
        justify-content: center;
    }

    /* Boton */
    .btn:hover {
  background-position: right center; /* change the direction of the change here */
}
    .btn-ver {
  background-image: linear-gradient(to right, #0057F9 0%, #8fd3f4 51%, #0057F9 100%);
}
    .btn-gh {
  background-image: linear-gradient(to right, #000000 0%, #3C3C3C  51%, #000000  100%);
  
    }

    /* Card */
    

</style>
